<div id="page_wrapper">
  <div id="profile_image">
    <%=image_tag "profile.jpeg"%>
  </div>
  <div id="content">
    <h1>Hola, I'm Maria D Kinsley</h1>
    <p>Welcome to my blogg</p>
    <p>this weekend i code for about 16 hours my eyes hurt</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <a href="http//facebook.com/mariafrancia">labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum <a href="http//twitter.com/mariafrancia">dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</div>
