<% @posts.each do |post|%>
  <div class="post_wrapper">test</div>
  <h2 class="title">
    <%= link_to post.title, post %>
  </h2>
  <p class="date">
    <%= post.created_at.strfime(%B %d %Y) %>
  </p>
<%end%>
